.cp-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
  }
  
  .cp-header h2 {
    font-size: 40px;
  }
  
  .cp-header button {
    background-color: rgb(53, 90, 209);
    color: white;
    border: 2px solid rgb(53, 90, 209);
    border-radius: 10px;
    padding: 5px 10px;
    height: 40px;
  }
  
  .cp-content {
    background-color: rgb(255, 255, 255);
    box-shadow: inset;
    padding: 20px 0;
  }
  
  .cp-search {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 5%;
  }
  
  .cp-searchfield {
    width: 70%;
    height: 40px;
    background-color: rgb(247, 245, 245);
    align-items: center;
    border: 2px solid rgb(243, 241, 241);
    border-radius: 10px;
    color: rgb(202, 202, 201);
    padding-left: 20px;
  }
  
  .cp-sort {
    width: 10%;
    background-color: rgb(247, 245, 245);
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    height: 40px;
  }
  
  .cp-sort select{
    width: 100%;
    margin: 0;
    border: 2px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
  
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    max-width: 400px; /* Adjust max-width as needed */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    z-index: 1000;
  }
  .delete-confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .delete-confirmation-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .delete-confirmation {
    background: rgba(255, 0, 0, 0.8);
    color: #fff;
  }
  
  .delete-confirmation button {
    background-color: #fff;
    color: #ff0000;
    border: 1px solid #ff0000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .delete-confirmation button:hover {
    background-color: #ff0000;
    color: #fff;
  }
  .popup-content {
    background-color: white;
  }
  
  .pop-heading{
    text-align: center;
    background-color: #ffffff;
  }
  .pop-heading img{
    width: 130px;
    background-color: #fff;
    margin-bottom: 0;
  }
  .pop-heading h2{
    background-color: #fff;
    margin: 0;
  }
  .popup h2 {
    font-size: 24px;
    margin-bottom: 20px;
    background-color: white;
  }
  
  .popup form {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
    background-color: white;
  }
  
  .form-group label {
    margin-bottom: 5px;
    background-color: white;
  }
  
  .popup input {
    width: 90%;
    padding: 2% 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
  }
  
  .popup button[type="submit"] {
    background-color: rgb(53, 90, 209);
    color: white;
    border: 2px solid rgb(53, 90, 209);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .close-but{
    background-color: rgb(53, 90, 209);
    color: white;
    border: 2px solid rgb(53, 90, 209);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  /* Add the following styles to your existing CSS */
  .cp-list{
    padding: 0 5%;
    background-color: #ffffff;
    
  }
  .cp-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-y: scroll;
    height: 200px;
    
  }
  .cp-list table tbody {
    max-height: 200px; /* Set your preferred max height */
    overflow-y: auto;
  }
 
  tbody tr:nth-child(even) {
    background-color: #f7f3f3;
  }
  
  
  .cp-list th, .cp-list td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: left;
  }
  
  .cp-list th {
    background-color: rgba(53, 90, 209, 0.1);
    color: rgb(33, 70, 169);
    font-size: 16px;
  }
  
  .cp-list tbody tr:hover {
    background-color: rgba(53, 90, 209, 0.1);
  }
  
  .cp-list td button {
    background-color: rgb(53, 90, 209);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cp-list td button:hover {
    background-color: rgb(33, 70, 169);
  }
  